schema-editor-table {
  display: block;
  margin-bottom: var(--q-space-base);
}

schema-editor-table .wtHolder th {
  background-color: var(--q-color-gray-3);
  border-color: var(--q-color-gray-4);
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

schema-editor-table .wtHolder td {
  border-color: var(--q-color-gray-2);
  width: 200px;
}

schema-editor-table .wtHolder td:last-child {
  border-right-style: dotted;
}

schema-editor-table .wtHolder tr:first-child td {
  background-color: var(--q-color-gray-3);
  border-color: var(--q-color-gray-4);
}

schema-editor-table .wtHolder tr:last-child td {
  border-bottom-style: dotted;
}