schema-editor-wrapper {
  display: flex;
}

schema-editor-wrapper > :first-child {
  width: 100%;
}

schema-editor-wrapper > notification {
  margin-top: 22px; /* this is hacky but is the margin required to align the notification with the input element
}
