schema-editor-geojson-point {
  display: block;
}

schema-editor-geojson-point .container {
  display: flex;
}

schema-editor-geojson-point .map {
  flex-grow: 1;
  height: 400px;
}

schema-editor-geojson-point .map-options {
  margin-right: calc(var(--q-space-base) * 2);
}

schema-editor-geojson-point .coordinate-input {
  display: flex;
  flex-direction: column;
}

schema-editor-geojson-point .coordinate-input label {
  margin-bottom: calc(var(--q-space-base) * 2);
}

schema-editor-geojson-point .autoComplete_container {
  position: relative;
  float: right;
  width: 260px;
  margin: calc(var(--q-space-base) * 2) calc(var(--q-space-base) * 2) 0 0;
  font-size: var(--q-text-big-size);
  line-height: var(--q-text-big-line-height);
}

schema-editor-geojson-point .autoComplete_container > * {
  width: 100%;
  border-radius: calc(var(--q-space-base) / 2);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--q-color-white);
  pointer-events: auto;
}

schema-editor-geojson-point .autoComplete_input {
  border: 0;
  height: calc(var(--q-space-base) * 5);
  padding: calc(var(--q-space-base) / 2) calc(var(--q-space-base) * 4);
  font: inherit;
  color: var(--q-color-gray-6);
  outline: none;
}

schema-editor-geojson-point .autoComplete_results_list {
  font-size: var(--q-text-size);
  line-height: var(--q-text-line-height);
  margin-top: calc(var(--q-space-base) / 2);
  overflow: hidden;
  list-style: none;
  padding: 0;
}

schema-editor-geojson-point .autoComplete_result {
  cursor: default;
  padding: var(--q-space-base) calc(var(--q-space-base) * 2);
  color: var(--q-color-gray-6);
}

schema-editor-geojson-point .autoComplete_result:focus,
schema-editor-geojson-point .autoComplete_result:hover {
  background-color: var(--q-color-gray-3);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

schema-editor-geojson-point .autoComplete_no-result {
  padding: var(--q-space-base) calc(var(--q-space-base) * 4);
  text-align: center;
}
