schema-editor-array {
  display: block;
}

.schema-editor-array__entry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid var(--q-color-gray-4);
  padding-top: calc(var(--q-space-base) * 2);
  margin-top: calc(var(--q-space-base) * 2);
  position: relative;
}

.schema-editor-array__entry:empty {
  display: none;
}

.schema-editor-array__entry:last-of-type {
  padding-bottom: var(--q-space-base);
  border-bottom: 1px solid var(--q-color-gray-4);
}

.schema-editor-array__collapsecontrol {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 2; /* stay on top of schema-editor-wrapper */
}

.schema-editor-array__collapsecontrol > span {
  padding-left: calc(var(--q-space-base) / 2);
}

.schema-editor-array__entry > schema-editor-wrapper {
  flex-grow: 1;
  z-index: 1; /* stay below collapsecontrol */
  margin-top: calc(var(--q-space-base) / 2);
}

.schema-editor-array__add-item-button {
  margin: calc(var(--q-space-base) / 2) 0;
}

.schema-editor-array__entry-actions {
  width: 150px;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-start;
  margin-left: auto;
}

.schema-editor-array__entry-actions > * {
  margin-right: calc(var(--q-space-base) / 2);
}
