schema-editor-files .dropzone {
  padding: calc(var(--q-space-base) / 2);
  font-size: var(--q-text-small-size);
  line-height: 1.33;
  color: var(--q-text-light-color);
  border: 1px dashed var(--q-color-gray-4);
  background-color: var(--q-color-white);
}

schema-editor-files .dropzone .dz-preview {
  margin: calc(var(--q-space-base) / 2);
}

schema-editor-files .dropzone .dz-preview .dz-image {
  border-radius: 0;
}

schema-editor-files .dropzone .dz-preview .dz-remove {
  font-size: var(--q-text-small-size);
}

