schema-editor-geojson-point {
  display: block;
}

schema-editor-geojson-point .lat-lng-input {
  display: flex;
}

schema-editor-geojson-point .lat-lng-input label {
  flex-grow: 1;
}

schema-editor-geojson-point .leaflet-pelias-input {
  padding: 0 0 0 26px;
}

schema-editor-geojson-point .leaflet-pelias-expanded .leaflet-pelias-input {
  padding-right: 30px; /* Space for close button */

  /* The properties below should be tweaked if height of .leaflet-pelias-expanded is changed */
  padding-top: 5px;
  padding-bottom: 5px;
}

schema-editor-geojson-point .leaflet-areaselect-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
  pointer-events: none;
}

schema-editor-geojson-point .leaflet-areaselect-shade {
  position: absolute !important;
  background: rgba(0,0,0, 0.4);
}
schema-editor-geojson-point .leaflet-areaselect-handle {
  position: absolute !important;
  background: #fff;
  border: 1px solid #666;
  box-shadow: 1px 1px rgba(0,0,0, 0.2);
  width: 14px;
  height: 14px;
  cursor: move;
}