schema-editor-array {
  display: block;
}

.schema-editor-array__entry {
  display: flex;
  flex-direction: column;
  position: relative;
}

.schema-editor-array__entry:empty {
  display: none;
}

.schema-editor-array__entry-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.schema-editor-array__entry-container--compact {
  display: flex;
  flex-direction: row;
}

.schema-editor-array__entry-container--compact:not(.schema-editor-array__entry-container--expandable)
  .schema-editor-array__control {
  order: 1;
  margin-left: var(--q-space-base);
}

.schema-editor-array__entry-container--expandable
  .schema-editor-array__control {
  width: 100%;
}

.schema-editor-array__control {
  margin-top: calc(var(--q-space-base) * 3);
}

.schema-editor-array__collapsecontrol {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 2; /* stay on top of schema-editor-wrapper */
}

.schema-editor-array__collapsecontrol > span {
  padding-left: var(--q-space-base);
}

.schema-editor-array__entry
  > .schema-editor-array__entry-container
  > schema-editor-wrapper {
  flex-grow: 1;
  z-index: 1; /* stay below collapsecontrol */
  margin-top: var(--q-space-base);
}

/* if the array entry is expandable, we add intentation to right-align it with the expand/collapse button */
.schema-editor-array__entry
  > .schema-editor-array__entry-container--expandable
  > schema-editor-wrapper {
  padding-left: calc(var(--q-space-base) * 4);
}

.schema-editor-array__button-container {
  display: flex;
  flex-direction: row;
}

.schema-editor-array__button {
  min-width: 200px;
  width: 200px;
}

.schema-editor-array__add-button {
  margin: calc(var(--q-space-base) * 2) 0 !important;
}

.schema-editor-array__entry-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.schema-editor-array__entry-actions > * {
  margin-right: var(--q-space-base);
}
