schema-editor-wrapper {
  display: flex;
  position: relative;
}

schema-editor-wrapper > :first-child {
  width: 100%;
}

schema-editor-wrapper > notification {
  margin-top: 22px; /* this is hacky but is the margin required to align the notification with the input element */
  position: absolute;
  right: 0;
}

.schema-editor-notification-column {
  margin-right: calc((180px + 2 * var(--q-space-base)));
}

.schema-editor-notification-column textarea {
  max-width: calc(100% - (180px + 2 * var(--q-space-base)));
}
