schema-editor-table {
  display: block;
  margin-bottom: calc(var(--q-space-base) * 2);
}

schema-editor-table .handsontable {
  margin-bottom: var(--q-space-base);
}

schema-editor-table .wtHolder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

schema-editor-table .rowHeader,
schema-editor-table .colHeader {
  color: var(--q-text-ultralight-color);
}

schema-editor-table .wtHolder th {
  background-color: var(--q-color-gray-3);
  border-color: var(--q-color-gray-4);
  text-align: center;
  width: 30px;
}

schema-editor-table .wtHolder td {
  border-color: var(--q-color-gray-2);
  width: 200px;
}

schema-editor-table .wtHolder td:last-child {
  border-right-style: dotted;
}

schema-editor-table .wtHolder tr:first-child td {
  font-weight: bold;
}

schema-editor-table .wtHolder tr:last-child td {
  border-bottom-style: dotted;
}

schema-editor-table td {
  transition: color 0.2s ease, background-color 0.2s ease;
}

schema-editor-table td.schema-editor-table__cell--selected {
  background-color: var(--q-color-primary-2);
  color: white;
}

/* this is the table editor wrapper */
schema-editor-table > label {
  display: block;
  position: relative;
  z-index: 1;
}

/* this is the meta-editor wrapper */
.schema-editor-table__meta-editor {
  position: relative;
  z-index: 2;
  border-left: 3px solid var(--q-color-primary-2);
  padding-left: var(--q-space-base);
}

.schema-editor-table__meta-editor--hidden {
  display: none;
}

.schema-editor-table__meta-editor__title--highlight {
  background-color: var(--q-color-primary-2);
  color: white;
  padding: 0 4px;
}

/* the metaEditor should be more compact */
.schema-editor-table__meta-editor schema-editor {
  --q-space-base: 2px;
}

/* used to position the colored corner in the cell */
.metadata-editor-available .schema-editor-table__cell--has-meta {
  position: relative;
}

/* the colored corner in cells with metadata */
.metadata-editor-available .schema-editor-table__cell--has-meta::after {
  content:'';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-color: transparent var(--q-color-primary-2) transparent transparent;

  position: absolute;
  top: 0;
  right: 0;
}
