schema-editor-lat-lng .leaflet-pelias-input {
  padding: 0 0 0 26px;
}

schema-editor-lat-lng .leaflet-pelias-expanded .leaflet-pelias-input {
  padding-right: 30px; /* Space for close button */
  /*background-color: white; /* Only show background color when expanded */

  /* The properties below should be tweaked if height of .leaflet-pelias-expanded is changed */
  padding-top: 5px;
  padding-bottom: 5px;
}
