confirm-button {
  display: block;
  position: relative;
  z-index: 998;
}

confirm-button:hover {
  z-index: 999;
}

confirm-button > button {
  display: block;
  width: 100%;
  height: 100%;
  transition: fill, background 0.1s ease-in;
  color: currentColor;
}

confirm-button .actions {
  overflow: hidden;
  position: absolute;
  --background-color: var(--q-color-gray-1);
  background: var(--background-color);
}

confirm-button.state-init .actions {
  display: none;
}

confirm-button.state-question {
  z-index: 999;
}

confirm-button.state-question .actions {
  left: calc(var(--q-space-base) * -1);
  padding: var(--q-space-base);
  border: solid 1px var(--q-color-gray-4);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
  overflow: visible;
}

confirm-button.state-question .actions::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: calc(((36px - var(--q-space-base) * 2) / 2) + 4px);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--q-color-gray-4);
}

confirm-button.state-question .actions::after {
  content: "";
  display: block;
  position: absolute;
  top: -11px;
  left: calc(((36px - var(--q-space-base) * 2) / 2) + 4px);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--background-color);
}

confirm-button .actions > *:not(:last-child) {
  margin-bottom: var(--q-space-base);
}

confirm-button.size-small.state-question .actions::before {
  left: calc(((24px - var(--q-space-base) * 2) / 2) + 4px);
}

confirm-button.size-small.state-question .actions::after {
  left: calc(((24px - var(--q-space-base) * 2) / 2) + 4px);
}
