embed-code:empty {
  display: none;
}

embed-code pre {
  background: white;
  border: 1px solid var(--q-color-gray-3);
  padding: var(--q-space-base);
  margin: 0;
  white-space: normal;
  overflow-wrap: break-word;
}

embed-code pre code {
  white-space: normal;
  overflow-wrap: break-word;
}
