item-list-entry {
  display: flex;
  padding: calc(var(--q-space-base) * 2) 0;
  border-top: solid 1px var(--q-color-gray-3);
}

item-list-entry:hover {
  cursor: pointer;
  background-color: var(--q-color-gray-2);
}

item-list-entry.inactive {
}

item-list-entry .tool-icon {
  width: 26px;
  height: 26px;
  color: var(--q-color-primary-3);
  margin-right: var(--q-space-base);
}

item-list-entry > a {
  display: flex;
  text-decoration: none !important;
  color: black !important;
  align-items: center;
  width: 100%;
}

item-list-entry a > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-basis: 0;
}
