item-list-entry {
  background: var(--q-color-primary-2);

  padding: calc(var(--q-space-base) / 2);
  margin-bottom: calc(var(--q-space-base) / 4);

  display: flex;
  align-items: center;

  transition: transform 0.2s ease-in;
}

item-list-entry:hover {
  cursor: pointer;
}

item-list-entry.inactive {
  background: var(--q-color-primary-1);
  border: 1px dashed var(--q-color-primary-2);
}

item-list-entry .tool-icon {
  width: 26px;
  height: 26px;
  color: var(--q-color-gray-6);
}

item-list-entry > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

item-list-entry > span:nth-of-type(1) {
  width: calc((100% - (2 * 26px)) / 10 * 4);
}

item-list-entry > span:nth-of-type(2) {
  width: calc((100% - (2 * 26px)) / 10 * 2);
}

item-list-entry > span:nth-of-type(3) {
  width: calc((100% - (2 * 26px)) / 10 * 4);
}

item-list-entry delete-button {
  margin-left: auto;
}
