q-messages {
  display: block;
  z-index: 20000;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 5px 10px rgba(255,255,255,0.9);
}

.q-message {
  display: flex;
  border: 1px solid currentColor;
  margin-bottom: var(--q-space-base);
  padding: calc(var(--q-space-base) / 2);
  align-items: center;
}

.q-message .message-icon {
  flex-shrink: 0;
  align-self: center;
}

.q-message button-tertiary {
  margin-left: auto;
}

.q-message--success {
  color: var(--q-color-success);
  background: var(--q-color-success--light);
}
.q-message--sucess path {
   fill: var(--q-color-success);
}

.q-message--info {
  color: var(--q-color-info);
  background: var(--q-color-info--light);
}
.q-message--info path {
   fill: var(--q-color-info);
}

.q-message--warning {
  color: var(--q-color-warning);
  background: var(--q-color-warning--light);
}
.q-message--warning path {
   fill: var(--q-color-warning);
}

.q-message--error {
  color: var(--q-color-error);
  background: var(--q-color-error--light);
}
.q-message--error path {
   fill: var(--q-color-error);
}

.q-message p {
  color: inherit;
  size: 16px;
  margin: 0;
}

.q-message .js-error {
  font-size: 0.4em;
}
