radio-button-group {
  display: block;
}

radio-button-group radiogroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.radio-button-group__option {
  position: relative;
  margin-bottom: calc(var(--q-ui-space) / 2);
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

.radio-button-group__option label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;

  background: var(--q-color-gray-3);

  border-style: solid;
  border-color: var(--q-color-gray-5);
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.radio-button-group__option:first-child label {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-left-width: 1px;
}

.radio-button-group__option:last-child label {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-right-width: 1px;
}

.radio-button-group__option label:hover {
  background: var(--q-color-primary-3);
}

.radio-button-group__option label svg {
  display: block;
  width: 12px;
  height: 12px;
  fill: var(--q-color-gray-6);
}

.radio-button-group__option input[type="radio"] {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.radio-button-group__option input[type="radio"]:checked ~ label {
  background: var(--q-color-primary-4);
}

.radio-button-group__option input[type="radio"]:checked ~ label svg {
  fill: var(--q-color-white);
}

.radio-button-group__option svg {
  fill: var(--q-color-white);
}
