.editor section {
  padding: calc(var(--q-space-base) * 6) calc(var(--q-space-base) * 4);
}

.editor section > * {
  min-width: 650px;
  max-width: 1200px;
  margin: 0 auto;
}

.editor__preview {
  display: flex;
  flex-direction: row;
}

.editor__preview-container {
  background-color: var(--q-color-gray-2);
}

.editor__preview item-preview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor__preview .editor__options {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: calc(var(--q-space-base) * 2);
  overflow-y: scroll;
  --q-h1-size: 13px;
  --q-h2-size: 13px;
  --q-h3-size: 13px;
  --q-h4-size: 13px;
  --q-h5-size: 13px;
  --q-h6-size: 13px;
}

.editor__options .schema-editor-input {
  margin-bottom: var(--q-space-base);
}

.editor__options legend {
  width: 100%;
  margin-top: calc(var(--q-space-base) * 2);

  /* the following properties are copied from h6 style */
  font-size: var(--q-h6-size);
  font-weight: var(--q-h6-weight);
  color: var(--q-text-light-color);
  margin-bottom: var(--q-space-base);
}

/* make the options more compact by removing the margin around fieldsets */
.editor__options fieldset > schema-editor-wrapper {
  margin: 0 !important;
}

.editor__options schema-editor-wrapper {
  margin-bottom: 0;
}

.editor__options
  schema-editor-wrapper
  schema-editor-wrapper
  schema-editor-wrapper {
  margin-bottom: 0;
}

.q-bar__back {
  display: flex;
  align-items: center;
}
