.editor section {
  padding: calc(var(--q-space-base) * 4) calc(var(--q-space-base) * 4);
}

.editor section > * {
  min-width: 650px;
  max-width: 1200px;
  margin: 0 auto;
}

.editor__preview {
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--q-space-base) * 2) !important;
}

.editor__preview-container {
  background-color: var(--q-color-gray-2);
}

.editor__preview item-preview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor__options {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: calc(var(--q-space-base) * 2);
  overflow-y: auto;
}

.editor__options .input-group-title {
  width: 100%;
  display: block;
  margin: calc(var(--q-space-base)) 0;

  font-size: var(--q-h4-size) !important;
  font-weight: var(--q-h4-weight) !important;
  color: var(--q-text-color);
}

.editor__options .schema-editor-input {
  margin-bottom: var(--q-space-base);
}

/* make the options more compact by removing the margin around schema-editor s */
.editor__options schema-editor fieldset > schema-editor-wrapper {
  margin: 0;
}

.editor__options schema-editor schema-editor-wrapper {
  margin-bottom: 0;
}

.editor__options schema-editor schema-editor-wrapper schema-editor-wrapper {
  border-bottom: 1px solid var(--q-color-gray-4);
  margin-bottom: calc(var(--q-space-base) * 2);
  padding-bottom: var(--q-space-base);
}

.editor__options
  schema-editor
  schema-editor-wrapper
  schema-editor-wrapper
  schema-editor-wrapper {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.q-bar__back {
  display: flex;
  align-items: center;
}
