.editor {
  height: 100%;
  display: flex;
}

.editor main {
  padding: calc(var(--q-space-base) * 2) calc(var(--q-space-base) * 3);
  flex-grow: 1;
}

.editor main section {
  padding-bottom: var(--q-space-base);
  border-bottom: 1px solid var(--q-color-gray-4);
  margin-bottom: calc(var(--q-space-base) * 2);
  max-width: 630px;
}

.editor__options {
  background-color: var(--q-color-gray-2);
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.25);
  padding: calc(var(--q-space-base) * 2) var(--q-space-base);

  width: 280px;
  flex-grow: 0;

  height: 100%;
  overflow-y: scroll;
}

.editor tool-status-bar {
  width: 52px;
  flex-grow: 0;
}

.editor__options {
  --q-h1-size: 13px;
  --q-h2-size: 13px;
  --q-h3-size: 13px;
  --q-h4-size: 13px;
  --q-h5-size: 13px;
  --q-h6-size: 13px;
}

.editor__options .schema-editor-input {
  margin-bottom: calc(var(--q-space-base) / 2);
}

.editor__options legend {
  width: 100%;
  margin-top: var(--q-space-base);

  /* the following properties are copied from h6 style */
  font-size: var(--q-h6-size);
  font-weight: var(--q-h6-weight);
  color: var(--q-text-light-color);
  margin-bottom: calc(var(--q-space-base) / 2);

  padding-bottom: 3px;
  border-bottom: 1px solid var(--q-color-gray-4);
}


/* make the options more compact by removing the margin around fieldsets */
.editor__options fieldset > schema-editor-wrapper {
  margin: 0 !important;
}

.editor__options schema-editor-wrapper {
  margin-bottom: 0;
}

.editor__options schema-editor-wrapper schema-editor-wrapper {
  /*border-bottom: 1px solid var(--q-color-gray-4);
  margin-bottom: 20px;*/
  /*margin-bottom: var(--q-space-base);*/
}

.editor__options schema-editor-wrapper schema-editor-wrapper schema-editor-wrapper {
  margin-bottom: 0;
}