.index tool-selection {
  margin-bottom: calc((var(--q-space-base) * 4));
}
.index h2 {
  text-align: center;
}

.index items-filter {
  margin-bottom: calc(var(--q-space-base) * 2);
}

.index__logo {
  width: 40px;
  height: 40px;
}

.search {
  max-width: 400px;
  margin: calc(var(--q-space-base) * 3) auto;

  display: flex;
  align-items: center;
}

.search svg {
  order: 1;

  fill: var(--q-color-gray-6);
  width: 20px;
  position: relative;
  left: calc(var(--q-space-base) * 2 + 20px);
}

.search input {
  flex-grow: 1;
  order: 2;

  background: white;
  box-shadow: 0px 0px 5px 0px var(--q-color-gray-4);

  border: none;
  border-radius: 8px;
  padding-top: calc(var(--q-space-base) * 2);
  padding-right: calc(var(--q-space-base) * 2);
  padding-bottom: calc(var(--q-space-base) * 2);
  padding-left: calc(var(--q-space-base) * 6);

  font-size: var(--q-text-size);
  caret-color: var(--q-color-primary-2);
}

.search input::placeholder {
  color: var(--q-text-ultralight-color);
}

.search input:focus {
  outline: none;
}

.search input:focus + svg {
  fill: var(--q-color-gray-5);
}

.item-list-legend {
  margin: var(--q-space-base) 0;
}

.item-list-legend > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-list-legend > div::before {
  content: "";
  width: 60px;
  height: 16px;
  border: 1px dashed var(--q-color-primary-2);
  background-color: var(--q-color-primary-1);
}

.index__load-more-button {
  max-width: 400px;
  margin: calc(var(--q-space-base) * 2) auto;
}

.index__statistics {
  text-align: center;
  padding: 0;
  position: fixed;
  right: calc(var(--q-space-base) * 2);
  bottom: calc(var(--q-space-base) * 2);
  transform: rotate(270deg) translate(100%);
  transform-origin: 100% 100%;
  cursor: pointer;
}

.index__empty-list-message {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--q-space-base) * 16);
}
