.item-overview-container {
  display: flex;
}

.item-overview__content {
  width: auto;
  flex-grow: 1;
}

.item-overview__content > section {
  margin-top: var(--q-ui-space-large);
}

.item-overview__controls {
  width: 240px;
  flex-grow: 0;
  padding-left: var(--q-ui-space-large);

  display: flex;
  flex-direction: column;
}

.item-overview__controls > * {
  width: 100%;
  flex-grow: 0;
  margin-bottom: var(--q-ui-space-small);
}

.item-overview__controls > *:last-child {
  margin-top: auto;
}

.item-overview__status icon-active-state {
  float: right;
}
