.item-overview-container {
  display: flex;
  margin-top: calc(var(--q-space-base) * 4);
}

.item-overview__content {
  width: auto;
  flex-grow: 1;
}

.item-overview__content > item-preview {
  height: 500px;
}

.item-overview__controls {
  width: 240px;
  flex-grow: 0;
  padding-left: calc(var(--q-space-base) * 6);

  display: flex;
  flex-direction: column;
}

.item-overview__controls > * {
  width: 100%;
  flex-grow: 0;
  margin-bottom: calc(var(--q-space-base) * 2);
}

.item-overview__status icon-active-state {
  float: right;
}

.item-overview__status > div {
  margin-bottom: var(--q-space-base);
}

.item-overview__meta {
  margin-top: calc(var(--q-space-base) * 6);
}

.item-overview__meta ul {
  list-style-type: none;
  padding-left: 0;
}

.q-bar__back {
  display: flex;
  align-items: center;
}
