.item-overview-container {
  display: flex;
}

.item-overview__content {
  width: auto;
  flex-grow: 1;
}

.item-overview__content > section {
  margin-top: calc(var(--q-space-base) * 2);
}

.item-overview__controls {
  width: 240px;
  flex-grow: 0;
  padding-left: calc(var(--q-space-base) * 3);

  display: flex;
  flex-direction: column;
}

.item-overview__controls > * {
  width: 100%;
  flex-grow: 0;
  margin-bottom: var(--q-space-base);
}

.item-overview__controls > *:last-child {
  margin-top: auto;
}

.item-overview__status icon-active-state {
  float: right;
}

.item-overview__status > div {
  margin-bottom: calc(var(--q-space-base) / 3);
}

.item-overview__meta {
  margin-top: calc(var(--q-space-base) * 3);
}

.item-overview__meta ul {
  list-style-type: none;
  padding-left: 0;
}