.tasks {
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.tasks main {
  padding: calc(var(--q-space-base) * 4) calc(var(--q-space-base) * 6);
  flex-grow: 1;
}

#tasks--input {
  width: 20%;
}

#tasks--output {
  width: 65%;
  margin-left: 5%;
}

.tasks--output--json {
  width: 800px;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  white-space: pre-wrap; 
  word-wrap: break-word;
}

#tasks--sidebar {
  width: 15%;
}

#tasks--list {
  list-style-type: none;
  margin-left: 8px;
  padding: 0;
}