#tasks {
  display: flex;
  justify-content: flex-start;
  padding: calc(var(--q-space-base) * 4) calc(var(--q-space-base) * 6);
}

#tasks__sidebar {
  flex-basis: 15%;
  flex-shrink: 0;
  margin-right: 1%;
}

#tasks__list {
  list-style-type: none;
  padding: 0;
}

#tasks__input {
  flex-basis: 20%;
  flex-shrink: 0;
  margin-right: 1%;
}

#tasks__output {
  flex-grow: 1;
}

.tasks__output-json {
  background-color: white;
  border: 1px solid black;
  padding: calc(var(--q-space-base) * 2);
  white-space: pre-wrap;
  word-break: break-all;
}