items-list {
  display: block;
}

.items-list__header {
  display: flex;
  padding-top: var(--q-space-base);
  padding-bottom: var(--q-space-base);
  padding-left: calc(var(--q-space-base) * 13);
  padding-right: calc(var(--q-space-base) * 3);
}

.items-list__header > * {
  flex-grow: 1;
  flex-basis: 0;
}
