items-filter {
  display: block;
}

items-filter .items-filter-container {
  display: flex;
  justify-content: space-between;
  margin-left: calc(var(--q-space-base) * -1);
  margin-right: calc(var(--q-space-base) * -1);
}

items-filter .items-filter-container > * {
  flex-grow: 1;
  margin-left: var(--q-space-base);
  margin-right: var(--q-space-base);
}
