.notification {
  position: relative;
  padding: var(--q-space-base);
  margin-top: calc(var(--q-space-base) * 1.2);
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  width: 180px;
}

.notification__title {
  font-weight: bold;
}

.notification__body {
  color: inherit;
}

.notification__low {
  background-color: var(--q-color-white);
  color: var(--q-color-primary-5);
}

.notification__medium {
  background-color: var(--q-color-white);
  color: var(--q-color-primary-5);
}

.notification__high {
  background-color: var(--q-color-error);
  color: var(--q-color-white);
}
