q-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--q-color-gray-1);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  padding: var(--q-space-base);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}

.q-bar__left {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
}

.q-bar__center {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.q-bar__center > * {
  width: 40px;
  height: 40px;
}

.q-bar__right {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.q-bar__right > * {
  margin-right: 15px;
}
