tool-status-bar {
  display: flex;
  align-items: center;
  margin-left: var(--q-space-base);
  padding-right: calc(var(--q-space-base) / 2);
  border-right: solid 1px var(--q-color-gray-4);
}

.tool-status-bar__group {
  display: flex;
  align-items: center;
}

.tool-status-bar__item {
  margin-right: calc(var(--q-space-base) / 2);
}
