tool-selection {
  padding: calc(var(--q-space-base) * 4) 0;
  border-top: 1px solid var(--q-color-gray-4);
  border-bottom: 1px solid var(--q-color-gray-4);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: calc(var(--q-space-base) * 4) var(--q-space-base);

  text-align: center;
}

tool-selection a,
tool-selection a:hover,
tool-selection a:visited {
  color: var(--q-color-black);
  text-decoration: none;
}

tool-selection a:hover button-primary button {
  /* this styles are doubled from button-primary.css to have the button appear hovered when the a around it is */
  color: var(--q-color-black);
  background-color: var(--q-color-primary-3);
}

tool-selection a button-primary {
  width: 48px;
  margin-left: auto;
  margin-right: auto;
}
