tool-selection {
  display: block;
  position: relative;
  padding-top: calc(var(--q-space-base) * 4);
  padding-bottom: calc(var(--q-space-base) * 4);
  border-top: 1px solid var(--q-color-gray-4);
  border-bottom: 1px solid var(--q-color-gray-4);

  background-color: var(--q-color-gray-2);
}

.tool-selection__toggle-tools-button {
  position: absolute;
  right: 0;
  top: calc(var(--q-space-base) * 4);
  padding-right: inherit;
}

.tool-selection__toggle-tools-button button {
  padding-right: var(--q-space-base);
}

.tool-selection__list {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

tool-selection a:hover,
tool-selection a:visited {
  text-decoration: none;
}

tool-selection a {
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  padding: calc(var(--q-space-base) * 2) 0;
  color: var(--q-color-primary-3);
}

@media (min-width: 700px) {
  tool-selection a {
    width: 150px;
  }
}

@media (min-width: 900px) {
  tool-selection a {
    width: 200px;
  }
}

tool-selection a span {
  padding-top: calc(var(--q-space-base) / 2);
}

tool-selection a button-secondary icon-button button {
  /* this styles are doubled from button-secondary.css to have the button appear hovered when the a around it is */
  color: var(--q-color-primary-3);
}

tool-selection a:hover button-secondary icon-button button {
  /* this styles are doubled from button-secondary.css to have the button appear hovered when the a around it is */
  color: var(--q-color-primary-3);
  background-color: var(--q-color-gray-3);
}

tool-selection a button-secondary {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
