preview-container {
  position: relative;
  display: block;
  overflow: auto;
  width: 100%;
  margin-top: calc(var(--q-space-base) * 2);
  margin-right: calc(var(--q-space-base) * 2);
  margin-bottom: calc(var(--q-space-base) * 2);
}
