:root {
  /* colors */
  --q-color-primary-3: #13175f;
  --q-color-primary-2: #1d2284;
  --q-color-primary-1: #9598dd;

  --q-color-gray-6: #444444;
  --q-color-gray-5: #adadad;
  --q-color-gray-4: #d6d6d6;
  --q-color-gray-3: #f0f0f0;
  --q-color-gray-2: #f6f6f6;
  --q-color-gray-1: #fcfcfc;

  --q-color-black: #000000;
  --q-color-white: #ffffff;

  --q-color-success: #66a622;
  --q-color-success-light: #c2dba7;
  --q-color-info: #fff600;
  --q-color-info-light: #fffddb;
  --q-color-warning: #ff9000;
  --q-color-warning-light: #ffecd3;
  --q-color-error: #c31906;
  --q-color-error-light: #cf4738;

  /* fonts */
  --q-h1-size: 22px;
  --q-h2-size: 20px;
  --q-h3-size: 18px;
  --q-h4-size: 16px;
  --q-h5-size: 14px;
  --q-h6-size: 12px;

  --q-text-size: 14px;
  --q-text-line-height: 1.64;
  --q-text-small-size: 12px;
  --q-text-small-line-height: 1.58;
  --q-text-big-size: 16px;
  --q-text-big-line-height: 1.625;

  --q-h1-weight: 700;
  --q-h2-weight: 400;
  --q-h3-weight: 500;
  --q-h4-weight: 400;
  --q-h5-weight: 400;
  --q-h6-weight: 400;

  --q-text-color: var(--q-color-black);
  --q-text-light-color: var(--q-color-gray-6);
  --q-text-ultralight-color: var(--q-color-gray-5);

  --q-link-color: var(--q-color-primary-2);

  /* layout */
  --q-space-base: 8px;
}
