:root {
  /* colors */
  --q-color-primary-5: #0084c7;
  --q-color-primary-4: #339dd2;
  --q-color-primary-3: #66b5df;
  --q-color-primary-2: #99cee9;
  --q-color-primary-1: #cce6f4;

  --q-color-yes-5: #66a622;
  --q-color-yes-4: #85b84e;
  --q-color-yes-3: #a3ca7a;
  --q-color-yes-2: #c2dba7;
  --q-color-yes-1: #e0edd3;

  --q-color-no-5: #c31906;
  --q-color-no-4: #cf4738;
  --q-color-no-3: #db756a;
  --q-color-no-2: #e8a39a;
  --q-color-no-1: #f3d1cd;

  --q-color-gray-6: #444444;
  --q-color-gray-5: #adadad;
  --q-color-gray-4: #d6d6d6;
  --q-color-gray-3: #f0f0f0;
  --q-color-gray-2: #f6f6f6;
  --q-color-gray-1: #fcfcfc;

  --q-color-black: #000000;
  --q-color-white: #ffffff;

  --q-color-success: #66a622;
  --q-color-success-light: #c2dba7;
  --q-color-info: #fff600;
  --q-color-info-light: #fffddb;
  --q-color-warning: #ff9000;
  --q-color-warning-light: #ffecd3;
  --q-color-error: #c31906;
  --q-color-error-light: #f3d1cd;

  /* fonts */
  --q-font-family-ui: 'Inconsolata', monospace;
  --q-font-family-content: Roboto, sans-serif;

  --q-h1-size: 22px;
  --q-h2-size: 20px;
  --q-h3-size: 18px;
  --q-h4-size: 16px;
  --q-h5-size: 14px;
  --q-h6-size: 12px;

  --q-text-size: 14px;
  --q-text-small-size: 12px;

  --q-h1-weight: 700;
  --q-h2-weight: 400;
  --q-h3-weight: 400;
  --q-h4-weight: 400;
  --q-h5-weight: 400;
  --q-h6-weight: 400;

  --q-text-color: var(--q-color-black);
  --q-text-light-color: var(--q-color-gray-6);
  --q-text-ultralight-color: var(--q-color-gray-5);

  --q-link-color: var(--q-color-primary-5);

  /* layout */
  --q-space-base: 16px;
}
