.q-dialog {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 80vw;
  height: auto;
  padding: calc(var(--q-space-base) * 6);
  background-color: var(--q-color-gray-1);
  border: 1px solid var(--q-color-gray-4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
}

.q-dialog-subtitle {
  margin: calc(var(--q-space-base) * 3) 0;
}

.q-dialog--bottom-controls {
  flex-direction: column;
}

.q-dialog__content {
  width: 70%;
  flex-shrink: 0;
}

.q-dialog__controls {
  width: 30%;
  flex-shrink: 0;

  padding-left: calc(var(--q-space-base) * 6);

  display: flex;
  flex-direction: column;
}

.q-dialog__controls > *:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.q-dialog--bottom-controls .q-dialog__controls {
  padding-left: 0;
  flex-direction: row;
  width: 100%;
  margin-top: calc(var(--q-space-base) * 2);
}

.q-dialog--bottom-controls .q-dialog__controls .button {
  flex-grow: 1;
  margin-right: calc(var(--q-space-base) * 2);
  max-width: 25%;
}

.q-dialog--bottom-controls .q-dialog__controls .button:last-child {
  margin-right: 0;
}

.q-dialog--centered .q-dialog__content {
  width: 100%;
}
.q-dialog--centered .q-dialog-title,
.q-dialog--centered .q-dialog-subtitle {
  text-align: center;
}
.q-dialog--centered .q-dialog__controls {
  justify-content: center;
}

.q-dialog__close-button {
  position: absolute;
  right: calc(var(--q-space-base) * 2);
  top: calc(var(--q-space-base) * 2);
}

ux-dialog-overlay {
  background: rgba(255, 255, 255, 0.5);
}
