.q-dialog {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 80vw;
  height: auto;
  padding: var(--q-space-base);
  background-color: var(--q-color-gray-1);
  border: 1px solid var(--q-color-gray-4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
}

.q-dialog__content {
  width: 70%;
}

.q-dialog__controls {
  width: 30%;
  padding-left: calc(var(--q-space-base) * 3);

  display: flex;
  flex-direction: column;
}

.q-dialog__controls > *:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

ai-dialog-overlay {
  background: rgba(0,0,0,0.5);
}
