.q-form button-primary:not(.schema-editor-dialog__button) {
  margin-top: calc(var(--q-space-base) * 4);
}

.q-form ::placeholder {
  color: var(--q-text-ultralight-color);
}

.q-form label {
  font-size: var(--q-text-small-size);
  line-height: 1.33;
  color: var(--q-text-light-color);
}

.q-form input:not(.autoComplete_input),
.q-form textarea:not(.handsontableInput),
.q-form select {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: var(--q-space-base);

  background-color: var(--q-color-white);
  border: 1px solid var(--q-color-gray-3);
  caret-color: var(--q-color-primary-2);

  display: block;
  width: 100%;
}

.q-form input:valid:not(.autoComplete_input) {
  border-color: var(--q-color-gray-3) !important;
}

.q-form-input--invalid {
  border: solid 1px var(--q-color-error) !important;
}

.q-form input:focus:not(.autoComplete_input),
.q-form textarea:focus:not(.handsontableInput),
.q-form select:focus {
  border-color: var(--q-color-gray-4);
  outline: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.q-form .disabled,
.q-form input:disabled:not(.autoComplete_input),
.q-form textarea:disabled:not(.handsontableInput),
.q-form select:disabled {
  opacity: 0.5;
}

.q-form input[type="text"]:not(.autoComplete_input),
.q-form input[type="url"],
.q-form input[type="password"] {
  font-size: 14px;
  line-height: 1.3;

  width: 100%;
  padding: 9px;
}

.q-form__block {
  display: block;
  margin-bottom: var(--q-space-base);
}

/*

  checkbox

*/
.q-form input[type="checkbox"] {
  width: auto;
  display: inline;
}

.q-form__checkbox input[type="checkbox"] {
  position: absolute;
  top: 1px;
  left: 0;
  margin: 0;
}

.q-form__checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}

.q-form__checkbox span {
  display: flex;
  height: 18px;
  align-items: center;
}

.q-form__checkbox label > span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--q-space-base) * 2);
  height: calc(var(--q-space-base) * 2);
  background: var(--q-color-gray-1);
  border: 1px solid var(--q-color-gray-4);
}

.q-form__checkbox input[type="checkbox"] + span:hover::before {
  border-color: var(--q-color-primary-2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.q-form__checkbox input[type="checkbox"]:checked + span::before {
  content: "\2714";
  font-size: calc(var(--q-space-base) + var(--q-space-base) / 2);
  color: white;
  text-align: center;
  line-height: calc(var(--q-space-base) * 2);
  background: var(--q-color-primary-2);
  border: 0;
}

/*

  select

*/
.q-form select {
  height: calc(var(--q-space-base) * 4);
  margin: 0;
  padding: calc(var(--q-space-base) / 2) calc(var(--q-space-base) / 2)
    calc(var(--q-space-base) / 2) calc(var(--q-space-base));
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

/*

  radio

*/
.q-form__radio input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 2em;
}

.q-form__radio input[type="radio"] + label {
  line-height: 2em;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  transition: color 0.2s ease-out;
  align-items: center;
  cursor: pointer;
}

.q-form__radio input[type="radio"] + label::before {
  content: "";
  width: calc(var(--q-space-base) * 2);
  height: calc(var(--q-space-base) * 2);
  margin-right: 5px;
  position: relative;
  background-color: var(--q-color-gray-2);
  border: 1px solid var(--q-color-gray-5);
  border-radius: 50%;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}

.q-form__radio input[type="radio"] + label:hover::before {
  border-color: var(--q-color-primary-2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.q-form__radio input[type="radio"]:checked + label::before {
  width: calc(var(--q-space-base) - 2px);
  height: calc(var(--q-space-base) - 2px);
  margin-right: calc(var(--q-space-base) + 2px);
  margin-left: calc(var(--q-space-base) - 3px);
  background-color: white;
  box-shadow: 0 0 0 calc(var(--q-space-base) - 3px) var(--q-color-primary-2);
  border: 0;
}
