button-primary {
  display: block;
}

button-primary button {
  background-color: var(--q-color-primary-2);
  color: var(--q-color-white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

button-primary button[disabled] {
  background-color: var(--q-color-primary-1);
}

button-primary button:hover {
  background-color: var(--q-color-primary-3);
}

button-primary button:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
