button-yes {
  display: block;
}

button-yes icon-button button {
  color: var(--q-color-gray-6);
  background-color: var(--q-color-yes-2);
  border-color: var(--q-color-yes-4);
}

button-yes icon-button button:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
}

button-yes icon-button button:hover {
  color: var(--q-color-black);
  background-color: var(--q-color-yes-3);
}

button-yes icon-button button[disabled] {
  color: var(--q-color-yes-3);
  border-color: var(--q-color-yes-2);
}
