button-secondary {
  display: block;
}

button-secondary icon-button button {
  color: var(--q-color-gray-6);
  background-color: var(--q-color-gray-3);
  border-color: var(--q-color-gray-5);
}

button-secondary icon-button button:focus {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
}

button-secondary icon-button button:hover {
  color: var(--q-color-black);
  background-color: var(--q-color-gray-4);
}

button-secondary icon-button button[disabled] {
  color: var(--q-color-gray-5);
  border-color: var(--q-color-gray-4);
}
