.q-loader {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.q-loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: var(--q-color-primary-3) transparent var(--q-color-primary-3)
    transparent;
  animation: q-loader-lds-dual-ring 1.2s linear infinite;
}

.q-loader--secondary::after {
  border-color: var(--q-color-white) transparent var(--q-color-white)
    transparent;
}

@keyframes q-loader-lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
