icon-active-state {
  display: block;
  width: 20px;
  height: 20px;
}

icon-active-state svg.state-active {
  fill: var(--q-color-yes-5);
}

icon-active-state svg.state-inactive {
  fill: var(--q-color-no-5);
}
